<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.boot.aioveuOutbound.mapper.AioveuOutboundMapper">

    <!-- 获取出库记录分页列表 -->
    <select id="getAioveuOutboundPage" resultType="com.aioveu.boot.aioveuOutbound.model.vo.AioveuOutboundVO">
        SELECT
                id,
                outbound_no,
                material_id,
                warehouse_id,
                quantity,
                batch_number,
                out_time,
                operator_id,
                recipient_id,
                department_id,
                purpose,
                project_id,
                status,
                create_time,
                update_time
        FROM
            aioveu_outbound
        <where>
            <if test="queryParams.id != null">
                AND id LIKE CONCAT('%', #{queryParams.id}, '%')
            </if>
            <if test="queryParams.outboundNo != null and queryParams.outboundNo != ''">
                AND outbound_no LIKE CONCAT('%', #{queryParams.outboundNo}, '%')
            </if>
            <if test="queryParams.materialId != null">
                AND material_id LIKE CONCAT('%', #{queryParams.materialId}, '%')
            </if>
            <if test="queryParams.warehouseId != null">
                AND warehouse_id LIKE CONCAT('%', #{queryParams.warehouseId}, '%')
            </if>
            <if test="queryParams.outTime != null">
                <if test="queryParams.outTime[0] != null and queryParams.outTime[0] != ''">
                    <bind name="startDate" value="queryParams.outTime[0].length() == 10 ? queryParams.outTime[0] + ' 00:00:00' : queryParams.outTime[0]"/>
                    AND out_time &gt;= #{startDate}
                </if>
                <if test="queryParams.outTime[1] != null and queryParams.outTime[1] != ''">
                    <bind name="endDate" value="queryParams.outTime[1].length() == 10 ? queryParams.outTime[1] + ' 23:59:59' : queryParams.outTime[1]"/>
                    AND out_time &lt;= #{endDate}
                </if>
            </if>
            <if test="queryParams.recipientId != null">
                AND recipient_id LIKE CONCAT('%', #{queryParams.recipientId}, '%')
            </if>
            <if test="queryParams.status != null">
                AND status LIKE CONCAT('%', #{queryParams.status}, '%')
            </if>
        </where>
    </select>

</mapper>
