<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.boot.JuhaocheUserMerchant.mapper.JuhaocheUserMerchantMapper">

    <!-- 获取用户-商户关联分页列表 -->
    <select id="getJuhaocheUserMerchantPage" resultType="com.aioveu.boot.JuhaocheUserMerchant.model.vo.JuhaocheUserMerchantVO">
        SELECT
                id,
                user_id,
                merchant_id,
                is_owner,
                join_time,
                invite_user_id,
                is_enable,
                create_time,
                create_user,
                update_time,
                update_user,
                is_del
        FROM
            juhaoche_user_merchant
        <where>
        </where>
    </select>

</mapper>
