<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.boot.aioveuCustomer.mapper.AioveuCustomerMapper">

    <!-- 获取客户信息分页列表 -->
    <select id="getAioveuCustomerPage" resultType="com.aioveu.boot.aioveuCustomer.model.vo.AioveuCustomerVO">
        SELECT
                id,
                customer_no,
                name,
                type,
                industry_id,
                credit_rating,
                customer_status,
                address,
                city,
                province,
                country,
                postal_code,
                phone,
                email,
                website,
                tax_id,
                bank_account,
                bank_name,
                annual_revenue,
                employee_count,
                established_date,
                source,
                sales_rep_id,
                create_time,
                update_time
        FROM
            aioveu_customer
        <where>
            <if test="queryParams.id != null">
                AND id LIKE CONCAT('%', #{queryParams.id}, '%')
            </if>
            <if test="queryParams.customerNo != null and queryParams.customerNo != ''">
                AND customer_no LIKE CONCAT('%', #{queryParams.customerNo}, '%')
            </if>
            <if test="queryParams.name != null and queryParams.name != ''">
                AND name LIKE CONCAT('%', #{queryParams.name}, '%')
            </if>
            <if test="queryParams.type != null">
                AND type LIKE CONCAT('%', #{queryParams.type}, '%')
            </if>
            <if test="queryParams.creditRating != null">
                AND credit_rating LIKE CONCAT('%', #{queryParams.creditRating}, '%')
            </if>
            <if test="queryParams.customerStatus != null">
                AND customer_status LIKE CONCAT('%', #{queryParams.customerStatus}, '%')
            </if>
            <if test="queryParams.city != null and queryParams.city != ''">
                AND city LIKE CONCAT('%', #{queryParams.city}, '%')
            </if>
            <if test="queryParams.province != null and queryParams.province != ''">
                AND province LIKE CONCAT('%', #{queryParams.province}, '%')
            </if>
            <if test="queryParams.phone != null and queryParams.phone != ''">
                AND phone LIKE CONCAT('%', #{queryParams.phone}, '%')
            </if>
            <if test="queryParams.source != null">
                AND source LIKE CONCAT('%', #{queryParams.source}, '%')
            </if>
            <if test="queryParams.salesRepId != null">
                AND sales_rep_id LIKE CONCAT('%', #{queryParams.salesRepId}, '%')
            </if>
        </where>
    </select>

</mapper>
