<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.boot.aioveuMemberAccount.mapper.AioveuMemberAccountMapper">

    <!-- 获取会员充值账户分页列表 -->
    <select id="getAioveuMemberAccountPage" resultType="com.aioveu.boot.aioveuMemberAccount.model.vo.AioveuMemberAccountVO">
        SELECT
                id,
                member_id,
                cash_balance,
                gift_balance,
                total_balance,
                last_recharge_time,
                status,
                create_time,
                update_time
        FROM
            aioveu_member_account
        <where>
            <if test="queryParams.id != null">
                AND id LIKE CONCAT('%', #{queryParams.id}, '%')
            </if>
            <if test="queryParams.memberId != null">
                AND member_id LIKE CONCAT('%', #{queryParams.memberId}, '%')
            </if>
            <if test="queryParams.status != null">
                AND status LIKE CONCAT('%', #{queryParams.status}, '%')
            </if>
        </where>
    </select>

</mapper>
